.post-card {
    width: 80%;
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 10px;
    padding: 5px;
}

.post-card-header {
    display: flex;
    align-items: center;
    
}

.subreddit-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 4px;
}

.post-card-footer {
    display: flex;
    gap: 75px;
}